@model ÜritusedWebApplication.Models.Uritused.EttevoteDetailModel
<div class="container bg-white mt-4">
    <div class="row p-0 overflow-hidden">
        <div class="col-3 h-50 bg-primary p-0 text-white text-center"><h4>Ettevõtte Info</h4></div>
        <div class="col-9 p-0" style="background-image: "><img src="~/images/libled.jpg" class="p-0 card-img-overlay img-fluid" /></div>
    </div>
</div>
<div class="container bg-white text-dark">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-primary"><h4><b>Ettevõtte Info</b></h4></div>
        <div class="col-3"></div>
    </div>
    <div class="row py-2">
        <div class="col-3"></div>
        <div class="col-6 form-group osaleja__form">
            <form method="post" asp-controller="Üritused" asp-action="UpdateO" asp-route-Id="@Model.UID" asp-route-IDO="@Model.ID">
                <div class="row">
                    <div class="col-3"><h7><b>Eesnimi:</b></h7></div>
                    <div class="col-7">
                        <input class="form-control" type="text" name="ettevottenimi" value="@Model.EttevotteNimi" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><h7><b>Perenimi:</b></h7></div>
                    <div class="col-7">
                        <input class="form-control" type="text" name="registrikood" value="@Model.EttevõtteRegistrikood" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><h7><b>Isikukood:</b></h7></div>
                    <div class="col-7">
                        <input class="form-control" type="number" name="osalejatearv" value="@Model.OsalejateArv" required />
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><h7><b>Makseviis:</b></h7></div>
                    <div class="col-7">
                        <select class="form-control" id="makseviis" name="makseviis" value="@Model.Makseviis">
                            <option value="1">Sularaha</option>
                            <option value="2">Pangalink</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"><h7><b>Lisainfo:</b></h7></div>
                    <div class="col-7">
                        <textarea class="form-control" type="text" name="lisainfo" rows="5" cols="20" value="@Model.Lisainfo"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <input class="btn btn-light" type="button" value="Tagasi" onclick="location.href='@Url.Action("Osalejad","Üritused", new{id=@Model.UID})'" />
                    </div>
                    <div class="col-auto pl-0">
                        <input class="btn btn-primary" type="submit" value="Salvesta" />
                    </div>
                </div>
            </form>
            <div class="col-3"></div>
        </div>
    </div>
